.imgs {
    margin-left: 3rem;
    height: 40px;
    width: 50px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(231, 165, 43);
    border-radius: 100%;
    margin-top: 40px;
}
.cash{
    color: rgb(141, 138, 138);
    padding-top: 20px;
}
.cas {
    margin-top: 10px;
    margin-left: 20px;
}
.million{
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 3px;
    color: rgb(99, 96, 96);
}
.millio {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 3px;
    color: rgb(48, 235, 79);
}
.angle{
    color: rgb(243, 73, 73);
    font-size: 15px;
}
.up {
    color: rgb(241, 197, 52);
    font-size: 15px;
    margin-left: 5px;
}
.us {
    color: rgb(61, 146, 243);
    font-size: 15px;
    margin-left: 5px;
}
.less{
    margin-left: 5px;
    color: rgb(141, 138, 138);
}
.cap {
    margin-left: 4rem;
    height: 40px;
    width: 50px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(235, 76, 48);
    border-radius: 100%;
    margin-top: 40px;
    color: white;
}
.build {
    margin-left: 4rem;
    height: 40px;
    width: 50px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(48, 235, 79);
    border-radius: 100%;
    margin-top: 40px;
    color: white;
}
.flex{
    display: flex;
}
@media (max-width:900px) {
    .imgs {
        margin-left: 1rem;
        height: 20px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 10%;
        border-radius: 100%;
    }
    .cap{
        margin-left: 1rem;
        height: 20px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 10%;
        border-radius: 100%;
    }
    .build{
        margin-left: 1rem;
        height: 20px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 10%;
        border-radius: 100%;
    }
    .cas {
        margin-left: 10px;
    }
    .cash{
        font-size: 10px;
    }
    .million{
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 3px;
    }
    .millio{
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 3px;
    }
    .angle{
        font-size: 10px;
    }
    .less{
        margin-left: 2px;
        margin-top: 0px;
        font-size: 10px;
    }
    .us{
        font-size: 10px;
    }
  
    .lines{
        height: 2px;
        margin-top: 10px;
        width: 17.5rem;
        background-color: rgb(216, 215, 215);
    }
}