.text{
    /* margin-top: -80px;*/
    margin-left: 30px; 
    font-weight: 300;
    color: rgb(201, 199, 197);
    font-size: 16px;
}  
.percentage{
display: flex;
margin-left: 10px;
}
.emoji{
color: rgb(111, 199, 111);
font-size: 2.5rem;
margin-right: 10px;
margin-left: 15px;
}
.number{
font-size: 2.5rem;
color: rgb(110, 109, 108);
margin-top: -10px;
}
.texts {
 margin-left: 10px;
 font-weight: 300;
 color: rgb(201, 199, 197);
 font-size: 1.5rem;
margin-top: -0px;
}
.num{
font-size: larger;
font-weight: 400;
margin-top: 5px;
margin-left: 10px;
color: rgb(101, 223, 101);
}
.img{
margin-left: 100px;
}
@media (max-width:900px) {
 .text{
   display: none;
 }
 .img{
    margin-left: 100px;
    width: 200px;
 }
 .emoji{
    margin-left: 40px;
 }
}