.container{
    display: flex;
    margin-left: 50px;
}
.lol {
    margin-left: 1rem;
    height: 20px;
    cursor: pointer;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.cover{
    background-color: rgb(216, 220, 228);
    border-radius: 100%;
    color: rgb(72, 126, 241); 

}
.coverr {
    background-color: rgb(248, 205, 205);
    border-radius: 100%;
    color: red;
    margin-left: 10px;
}
.coverrr {
    background-color: rgb(228, 209, 209);
    border-radius: 100%;
    color: rgb(223, 95, 95);
    margin-left: 10px;
}
.coverrrr {
    background-color: rgb(196, 240, 196);
    border-radius: 100%;
    color: rgb(79, 216, 79);
    margin-left: 10px;
}
@media (max-width:900px) {
    .lol{
     height: 19px;
     padding-right: 0.5rem;
     padding-top: 0rem;
     padding-bottom: 0.25rem;
     margin-left: 0.5rem;
     margin-top: 8px;
    }
    .cover{
        margin-left: -2rem;
        height: 40px;
        margin-top: 5px;
    }
    .coverr{
        height: 40px;
        margin-top: 5px;
        margin-left: 1rem;
    }
    .coverrr{
        height: 40px;
        margin-top: 5px;
        margin-left: 1rem;
    }
    .coverrrr{
        height: 40px;
        margin-top: 5px;
        margin-left: 1rem;
    }
   
   
}
@media (max-width:1920px) {
    .container{
        margin-left: 30px;
    }
}