.container{
    height: 50px;
    width: 280px;
    background-color: white;
    margin-top: 75px;
    margin-left: 20px;
   border-radius: 20px;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
}
.icon{
    cursor: pointer;
        color: rgb(72, 126, 241);
            height: 20px;
            border-radius: 100%;
            margin-top: 3px;
            margin-left: 20px;
            margin-top: 15px;
    }
    .cancel{
        cursor: pointer;
            color: rgb(72, 126, 241);
            height: 20px;
            margin-left: 25px;
            margin-top: 13px;
    }