.omo{
    display: flex;
}
.line {
    height: 40px;
    width: 1px;
    background-color: rgb(189, 185, 185);
    margin-left: 30px;
}

.angle{
   margin-left: 10px;
    color: rgb(99, 98, 98);
}
.name{
color: rgb(145, 143, 143);
margin-bottom: -15px;
margin-left: 7px;
}
.role{
color: rgb(184, 179, 179);
font-weight: 400;
}
.container{
     margin-left:10px ; 
}
.imgs {
     margin-right: -410px; 
     height: 20px;
    cursor: pointer;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(21, 134, 226);
    color: white;
box-shadow: -2px 1px 38px -8px rgba(19, 225, 240, 0.75);
}
.lines {
    border-left: 1px solid rgb(189, 185, 185);
        height: 40px;
        position: absolute;
     left: 94%;
}
.pic{
height: 40px;
border-radius: 100%;
margin-left: 30px;
    cursor: pointer;
}
@media (max-width:900px) { 
    .omo{
        display: none;
    }
    .pic{
        display: none;

    }
    .lines{
        display: none;
    }
   
    .line {
        display: none;
    }
    
    .angle{
        display: none;
    }
    .name{
        display: none;
    }
   e .role{
    display: none;
    }
    .container{
        display: none;
    }
}
@media (max-width:1920px) {
    .pic{
        margin-left: 10px;
        }
        .line{
            display: none;
        }
}