.wrapper .sidebar {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20.5%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    z-index: 0;
    float: left;
    overflow-y: scroll;
}

.active {
    left: -225px;
}

body.active .wrapper .sidebar {
    left: -225px;
}
 .head {
     width: 100px; 
     height: 4rem;
     display: flex;
     align-items: center;
     background-color: white;
     padding: 0 10%;
     box-shadow: 0 8px 6px -6px rgb(214, 198, 198); 
    z-index: 100;
     position: fixed;
     left: 0;
 }

 .logo {
     margin-left: -7rem;
     padding-left: 0;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5rem;
     cursor: pointer;
 }

 .lol {
     margin-left: 5rem;
     color: rgb(72, 126, 241);
     height: 25px;
     cursor: pointer;
 }
 .menu{
    margin-top: 100px;
    margin-left: 20px;
    color: rgb(72, 126, 241);
 }
  .menus {
      margin-top: 10px;
      margin-left: 20px;
      color: rgb(72, 126, 241);
  }
 .cars{
    width: 80%;
    margin-left: 20px;
    height: 30px;
    background-color: rgb(181, 186, 197);
 }
 .flexi{
display: flex;

width: 90%;
margin-left: 10px;
height: 50px;
border-radius: 5px;
margin-top: -10px;
cursor: pointer;
 }
 .flexi:hover{
background-color: rgb(232, 236, 243);
 }
 .lol1 {
     margin-left: 1rem;
     color: rgb(220, 222, 226);
     height: 14px;
     cursor: pointer;
     margin-top: 20px;
     transform: rotate(270deg);
 }
 .board{
    font-weight: 400;
    font-size: 15px;
    margin-top: 17px;
    margin-left: 10px;
 }
  .boards {
      font-weight: 400;
      font-size: 15px;
      margin-top: 17px;
      margin-left: 15px;
  }
 .loll1 {
     margin-left: 6rem;
     color: rgb(220, 222, 226);
     height: 17px;
     cursor: pointer;
     margin-top: 20px;
     transform: rotate(270deg);
 }
 .lolll1 {
     margin-left: 8.2rem;
     color: rgb(220, 222, 226);
     height: 17px;
     cursor: pointer;
     margin-top: 20px;
     transform: rotate(270deg);
 }
 .lolll2 {
     margin-left: 5.9rem;
     color: rgb(220, 222, 226);
     height: 17px;
     cursor: pointer;
     margin-top: 20px;
     transform: rotate(270deg);
 }
 .long{
    height: 200px;
    width: 3px;
    background-color: rgb(177, 191, 219);
    margin-left: 36px;
    margin-right: 10px;
 }
 .ana{
    margin-top: 3px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(146, 143, 143);
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
   
 }
 .ana:hover{
    background-color: rgb(177, 191, 219);
 }
 .anali {
     margin-top: -10px;
     margin-left: 20px;
    font-size: 15px;
        font-weight: 500;
        color: rgb(146, 143, 143);
        padding-right: 100px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            border-radius: 5px;
          
 }
 .anali:hover {
     background-color: rgb(177, 191, 219);
<<<<<<< HEAD
 }
=======
 }
 @media (min-width:900px) {
    .head {
        width: 110px;  }
}
@media (max-width:900px) { 
    .head {
        width: 300px;
       display: none;  }
      .wrapper .sidebar{
        z-index: 1000;
        height: 100%;
        position: fixed;
        /* display: none; */
        top: 0;
        width: 260px;
        margin-top: 65px;
      }
      .menu{
        margin-top: 0px;
      }
} 
>>>>>>> c41a6d5 (responsive)
