.boxes{
    display: flex;
}
.dollar{
    font-size: 25px;
    font-weight: 400;
    color: rgb(134, 131, 131);
    margin-right: 10px;
    margin-left: 10px;
}
.number{
    margin-top: 20px;
    font-size: 38px;
    color: rgb(121, 118, 118);
    font-weight: 400;
}
.text{
    margin-top: -20px;
  font-weight: 500;
  color: rgb(175, 173, 171);
  margin-left:10px ;
}
.grabh{
    height: 50px;
    width: 70px;
}
.linx{
    height: 5px;
    width: 100%;
      /* background-color: rgb(91, 177, 80); */
    margin-top: 69px;
}