.input{
    border: none;
    border-color: rgb(194, 189, 189);
    background-color: rgb(245, 241, 241);
    width: 260px ;
    margin-left: 5px;
     margin-top: 10px; 
}
.searchbar{
    border-radius: 30px;
    width: 300px;
    height: 40px;
    background-color: rgb(245, 241, 241);
}
.icon{
cursor: pointer;
    color: rgb(72, 126, 241);
        height: 20px;
        border-radius: 100%;
        margin-top: 3px;
}
.main{
    display: flex;
    margin-left: -6rem;
}
.cancel{
    cursor: pointer;
        color: rgb(72, 126, 241);
        height: 20px;
        margin-left: 25px;
        margin-top: 8px;
<<<<<<< HEAD
=======
}
@media (min-width:900px) {
    .searchbar{
      
        margin-left: -40px;
       
    }
}
@media (max-width:900px) {
    .searchbar{
        border-radius: 30px;
        width: 220px;
        height: 40px;
        margin-left: 110px;
        margin-top: 5px;
        background-color: rgb(245, 241, 241);
    }
    .input{
        width: 180px;
    }
    .cancel{
       display: none;
    }
   
>>>>>>> c41a6d5 (responsive)
}