.Name {
    background-color: white;
    height: 35px;
    width: 20%;
    margin-left: 20px;
    border: 2px solid #f0e8e5;
}

.Name2 {
    background-color: white;
    height: 35px;
    width: 25%;
    border: 2px solid #f0e8e5;
}

.Name3 {
    background-color: white;
<<<<<<< HEAD
=======
   
>>>>>>> c41a6d5 (responsive)
    height: 35px;
    width: 15%;
    border: 2px solid #f0e8e5;
}

.Name4 {
    background-color: white;
height: 35px;
    width: 10%;
    border: 2px solid #f0e8e5;
}

.Name5 {
    background-color: white;
    height: 35px;
    width: 13%;
    border: 2px solid #f0e8e5;
}

.Name6 {
    background-color: white;
    height: 35px;
    width: 11%;
    border: 2px solid #f0e8e5;
}
.flex{
    display: flex;
}
.position {
    /* font-weight: 400;  */
    margin-top: 10px;
    /* color: rgb(87, 89, 90); */
    margin-left: 10px;
<<<<<<< HEAD
=======
}
@media (max-width:900px) {
    .Name5{
        display: none;
        width: 0px;
    }
    .Name6{
        display: none;
        width: 0px;
    }
    .Name4 {
        height: 65px;
        width: 42px;
    }
    .Name3 {
        height: 65px;
        width: 25%;
    }
    .Name2 {
        height: 65px;
        width: 25%;
    }
    .Name {
        height: 65px;
        width: 28%;
        margin-left: 2px;
    }
>>>>>>> c41a6d5 (responsive)
}